<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.rmak.AWDLToggler</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>AWDLToggler</string>
	<key>LSUIElement</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.rmak.AWDLHelper</key>
		<string>97c0555783491a0b14d6182ca3f5a7f223de76b8f171d127564ba0457ed26de2</string>
	</dict>
</dict>
</plist>
